@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);

body{
    margin:0;
    padding: 0;
    width:100%;
    height:1000px;

}


audio{
    display: none;

}


section {
    background:url("../img/background.jpg");
    background-repeat: no-repeat;
    background-size:100% 100%;

    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden; /*溢出框架*/

}


.snow1{
    background-image:url('../img/snow1.png');
    background-repeat: repeat;
    width:100%;
    height:100%;
    position:absolute;
    top:0;
    left:0;
   animation:animate1 10s infinite  linear; /*name duration  iteration-count(迭代次數) time-direction */
}

.snow2{
    background-image:url('../img/snow3.png');
    background-repeat: repeat;
    width:100%;
    height:100%;
    position:absolute;
    top:0;
    left:0;
    animation:animate2 20s infinite  linear; /*name duration  iteration-count(迭代次數) time-direction */
}


.snow3{
    background-image:url('../img/snow2.png');
    background-repeat: repeat;
    width:100%;
    height:100%;
    position:absolute;
    top:0;
    left:0;
    animation:animate3 15s infinite  linear; /*name duration  iteration-count(迭代次數) time-direction */
}



@keyframes animate1{
    0%  {background-position: 0 0}
    100%{background-position:100px 650px}
}

@keyframes animate2{
    0%  {background-position: 0 0}
    100%{background-position:-100px 650px}
}

@keyframes animate3{
    0%  {background-position: 0 0}
    100%{background-position:0 650px}
}






.card_top{
    position: absolute;
    width:100%;
    height:100%;
    background: url("../img/birthday_cards_with_cats1_downjpg.jpg") no-repeat;
    background-size: 250px 500px;
    transform-origin:0 50% ;
    transition: all 1s ease-in;
    z-index:3;

}

#card_mid{



    /*border generator*/
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: 250px 500px;

    background:url("../img/writing_page.jpg") no-repeat ;
    background-size: 100% 100%;
    transform-origin:0 50% ;
    transition: all 1.5s ease-in;
    z-index:2;
    font-family: 'Noto Sans TC';
    font-weight: bold;


}

#card_mid span{
    opacity: 0.8;
}


#card_button {
    background: url("../img/writing_page.jpg") no-repeat;
    background-size: cover;
    width:250px;
    height: 500px;

    position: absolute;
    left:40%;
    top:20%;
    color:black;
    z-index:1;

}




#card_button:hover  .card_top{
    transform:rotateY(-160deg);
}

.down{
    position: absolute;
    top:0;
    width: 0;
}


#buttonclick{
    position: absolute;
    right:0;
    bottom: 0;
    border-style: solid;
    border-width:0 0 25px 25px;
    border-color:transparent transparent #9028ff transparent /*transparent 邊框白色 */;
    z-index:2;
}

#closebutton{

    position: absolute;
    left:0;
    bottom: 0;
    border-style: solid;
    border-width:0 25px 25px 0;
    border-color:transparent transparent #802d54 transparent /*transparent 邊框白色 */;
    z-index:1;

}




.gift{
    position:absolute;
    top:75%;
    left:43%;
    font:20px oblique yellow ;


}

#botton{

    font-family: 'Noto Sans TC';
    font-weight: bold;
    color: #ff4296;



}