
audio{
  display: none;

}

.navbar{
  background: black !important;
  background-image: url('../backgrounduse/bg.jpg') !important;
  background-size: cover;
  background-repeat: no-repeat;
  animation: starmove 15s infinite  linear;
  font-family: 'Nanum Brush Script', cursive !important;
  
  color:rgb(18, 187, 164) !important;
  font-size: 50px;

}
.navbar p{
  padding-left: 40px;
}
.wrapper{
 display: grid;
 
 grid-template-columns: 35% 35% 30%;
 background: black !important;
 background-image: url('../backgrounduse/bg.jpg') !important;
 background-size: cover;
 background-repeat: no-repeat;
 grid-gap:0.2em;
 animation: starmove 15s infinite  linear;
}
/*box grid set*/


.introduce,.select,.card{
  grid-column: 1/3;
}
.inputgift{
  grid-column:3/4;
  grid-row: 1/4;
}
/*introduce*/
.introduce{
  font-family: 'Nanum Brush Script', cursive;
  text-align: center;
  font-size: 30px;
  color:white;
}

span{
  color: red;
}


/*select*/
.select{
  display:grid;
  margin-left: 150px;
  grid-template-columns:50% 50%;
  height:50px;
  width:500px;
  
}
#org_click{
  margin:0px 15px 0px 15px;
  font-family: 'Nanum Brush Script', cursive;
  font-size: 25px;
}
#honey_click{
  margin:0px 15px 0px 15px;
  font-family: 'Nanum Brush Script', cursive;
  font-size: 25px;
}




/*card*/

.card{
  background: black !important;
  background-image: url('../backgrounduse/bg.jpg') !important;
  background-size: cover;
  background-repeat: no-repeat;
  padding-right:160px;
  animation: starmove 15s infinite  linear;
}
.card-align{
  text-align: center;
  
}
.card-img-top{
  width:200px;
  height: 200px;
  background-size: cover;
  border-radius: 12px;
  
}
.card-title{
  color:white;

}
.card-text{
  text-align:  center;
  color:white;
  font-family: 'Nanum Brush Script', cursive;
  font-size:25px;
}



/*inputgift*/
.inputgift{
  display: grid;
  grid-template-columns:100%;
  grid-template-rows: 30% 70%;
  

}
.put_thegifthere{
  grid-row: 1/2;

}


/*addbutton style*/
#addbutton{
  font-size:30px;
  color:pink;
 
}

#GivenGiftId{
  background: black;
  border: black 2px solid;
}







/*papehere*/

.papehere{
  padding-top: 10px;
  grid-row: 2/3;

  text-align: center;
  
}


#papehere{
 background-size: contain;
 background-repeat: no-repeat;
 background-image:url("../img/pappe_pig5.png");
}

#papehere:hover{
  animation:animate 2s infinite;
  background-size: contain;
  background-repeat: no-repeat;
  background-image:url("../img/nipplepig.gif");
}


/*footer*/
.footer{
  background: black !important;
  background-size: cover;
  background-repeat: no-repeat;;
  text-align: center;
}

.boxfooter{
  margin-right:100px;
  margin-left:100px;
}


@keyframes starmove{
  0%  {background-position: 0 0}
  50% {background-position:30px 25px}
  100%{background-position:50px 75px}

}