
body{
    padding-top:0;
    margin-top:0;
    line-height: 1.5;

    font-family: Arial, "Times New Roman",sans-serif;
}


header{
    background: #111441;
    color: #dfe1ff;
    font-size: 50px;
    padding:20px;
    margin:0;
    border-bottom:10px yellow solid;
}
.top_menu{
    display:flex;

}

.navbar {
   flex:1;

    margin-left: 20px;
}



.menu_link{
    flex:95;
}

.menu_link a:hover{
    background-color: yellow;
    color:red;
}

.top_menu li{
    display: inline-block;
    text-decoration: none;
    margin-right:150px;

}

a{
    text-decoration: none;
}

#logo h1{
    color: turquoise;

    font-size: 50px;
}

#logo p{
    color: salmon;
    text-align: center;
    font-size: 25px;

}

#side_menu{

    border: solid 2px black;
}

.side_box{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color:#111;
    opacity: 0.8;
    overflow-x:hidden ;           /**關鍵  隱藏overflow 文字  */
    padding-top:250px ;
    transition: 0.5s;
}


.side_box a{
   padding:10px 10px 10px 10px;  /*top right b l*/
   text-decoration: none;
    font-size: 25px;
    font-style: oblique;
   color:white;
    display:block;



}



#main{
    color: #ffffff;
    font-size: 20px;
    font-style: oblique;
}



/*------------------  section  --------------*/




#wrapper {
    width:100%;

    margin:0;
    padding: 0;
    display: flex;
    color:darkblue;
}

.wrapper1 {

  flex:2;
    border: 2px pink solid;

}
.layer{
    height: 1000px;
    width: 1000px;
    margin:0;
}

.top{
    background-size:100% 100%;
    background-image: url("../img/Kasumi-Arimura-01.jpg");
}

.mid{
    background-image:url("../img/gakki_02.jpg") ;
    background-repeat:no-repeat;
    background-size:100% 100%;
}

.botton{
    background-image: url("../img/Haruka.jpg");
    background-repeat:no-repeat ;
    background-size:100% 100%;
}


.wrapper2 {


    flex: 1;
    border: solid 2px yellow;
    background-image: url("../img/Kasumi-Arimura-02.jpg");
    background-repeat: no-repeat;
    background-size:100%;

}

.right {

}





footer{
    position:relative;
    bottom: 0;
    top:20px;
}

